@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Orbitron:wght@400;500;600;700;800;900&display=swap');

body {
    font-family: 'Orbitron', sans-serif;
}

@keyframes select {
    from {box-shadow: none;}
    to {box-shadow: 6px 4px 2px 1px #0ff;}
}

body {
    background-color: black;
    color: white; 
}

.header {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.game-end-banner {
    width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    font-size: 50; 
}

.game-end-banner.disabled {
	display: none;
}

#game-container {
    display: flex; 
    flex-direction: row;
    width: 100%; 
    justify-content: space-around;
}

.player-board {
    padding: 20px; 
}

.board-card,
.hand-card {
    border-radius: 5px;
    border: 1px solid black; 
    height: 88px;
    padding: 5px; 
}  

.turn-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}

.turn-buttons button {
    width: 100px; 
    padding: 10px; 
    margin: 5px; 
    cursor: pointer;
}

.selected-card {
    animation-name: select; 
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

.disabled-button {
    background-color: black;
    text-decoration: line-through;
    color: red; 
}

.board-box {
    padding: 20px; 
    background-color: grey;
    margin: auto; 
    width: 400px; 
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.temp-disabled-button {
    background-color: rgb(110, 103, 103);
    cursor: not-allowed;
}